
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
  
    font-family: "Montserrat", sans-serif;
    width: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    background-color: white;
  }

  
  .index-header {
    position: relative;
    height: 100vh;
    background-image: url('images/woman-with-food.png');
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  .about-header {
    position: relative;
    height: 80vh;
    background-image: url("images/about-us-bg.png");
    background-size: cover;
    background-position: center;
    color: white; 
  }

  .about-header .hero-text{
    margin-top: 100px;
  }

  .about-header .hero-text h1{
    font-size: 34px;
    font-weight: 800;

  }

  .about-header .hero-text h2{
    font-size: 62px;
    font-weight: 800;
  }

  .contact-header .hero-text {
    margin-left: 90px;
  }

  .contact-header .hero-text h1{
    font-size: 32px;
    font-weight: 800;
  }

  .contact-header .hero-text h2{
    font-size: 50px;
    font-weight: 800;
  }
  .contact-header {
    position: relative;
    height: 80vh;
    background-image: url("images/contact-us-bg.png");
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  .media-header {
    position: relative;
    height: 65vh;
    background-image: url("images/media-bg.png");
    background-size: cover;
    background-position: center;
    color: white;
  }

  .private-header {
    position: relative;
    height: 160vh;
    background-image: url("images/private-bg.png");
    background-size: cover;
    background-position: center;
    color: white;
  }

  .shadow img{
    position:fixed; 
    z-index: 15;
    pointer-events:none;
  }
  
  
  .nav-container {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items:flex-start; */
    padding-left: 50px;
    position: fixed;
    z-index: 1000;
    width: fit-content;
    left: 300px;
    top: -20px;
    transition: all 0.3s ease;

  }
  
  .sticky {
    position: fixed;
    top: -54px;
    /* margin-top: 0; */
    width: fit-content;
    /* margin-top: 80px; */
    z-index: 1000;
    transition: all 0.3s ease;
    /* background-image: url("/images/menu-rect.png"); */
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sticky .active {
    color:#ccc;
  }

  .sticky .active .arrow {
    border: solid #ccc;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 5px;
    margin-left: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  #rect img{
    /* position: absolute;
    top: 500px; */
    /* top: -400px; */
    /* position: absolute;
    top: -400px; */
    width: 100vw;
  }

  .rect1 {
    position: absolute;
    top: -500px;
    width: 199%;

  }

  .rectangle {
    position: fixed;
    z-index: 999;
    top: 0px;
    transition: all 0.3s ease;
    visibility: visible;
  }



.rectangle img {
  /* top: 0px; */
}



  .logo {
    position: relative;
    left: 100px;
  }
  .logo img {
    /* position: fixed; */
    width: 250px;
    /* margin-top: 170px; */
  }
  
  nav {
    display: flex;
    margin-top: 110px;
    margin-left: 200px;
    padding-top: 25px;
    padding-bottom: 15px;
    background-image: url("images/nav-lines.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* line-height: 20px; */
  }
  
  
  nav ul {
    margin-top: 50px;
  }
  
  .subtitle {
    padding-left: 15px;
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
    text-align: left;
  }
  
  #nav-bar li {
    float: right;
    margin-top: -25px;
    margin-bottom: 19px;
    padding-top: 20px;
    /* padding-bottom: 20px; */
  }
  
  #nav-bar {
    top: -15px;
    margin-top: -10px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    text-align: center;
    margin-left: 30px;
  }
  
  
  #about-normal {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    text-align: left;
    margin-top: -25px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-right: 50px; */
    /* margin-left: 20px; */
  }
  
  #about-normall {
    padding-top: 40px;
    text-align: left;
    margin-top: -25px;
    padding-left: 10px;
  }
  
  
  #about-normal li {
    line-height: 16px;
  }
  
  #about-normall li {
    line-height: 16px;
  }
  
  
  nav ul {
    list-style: none;
  }
  
  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 5px;
    margin-left: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
.active .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 5px;
  margin-left: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

  nav ul li a {
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 15px 15px;
  }
  
  
  nav ul li a:hover {
    color: #ed7e2c;
  }

a.active {
    color: black;
  }

  
  
  #about-normal:hover {
    /* background-color: white; */
    /* background-image: url("images/dropdown-4.png"); */
  
    cursor: pointer;
    /* border-radius: 0 0 20px 20px; */
    padding-bottom: 18px;
  }
  
  
  
  .four:hover {
    background-image: url("images/dropdown-4.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* padding: 50px; */
    /* transform: scale(1.2); */
  }


  
  .two:hover {
    background-image: url("images/dropdown-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* transform: scale(1.2); */
  }
  
  .three:hover {
    background-image: url("images/dropdown-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* transform: scale(1.2); */
  }
  
  .three .about-hover a {
    position: relative;
    top: -8px;
  }

  .move {
    /* position: relative; */
    /* left: -10px; */
  }
  
  #about-normall:hover {
    cursor: pointer;
  }
  
  #about-normal:hover .about-first a {
    color: #ed7e2c;
  }
  
  #about-normal:hover i {
    border: solid #ed7e2c;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  
  #about-normal li a:hover {
    color: #ed7e2c;
  }
  
  #about-normal li .arrow:hover {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  #about-normal ul li:hover {
    color: #ed7e2c;
  }
  
  .about-us {
    padding-bottom: 50px;
  }
  
  .about-hover a {
    color: black;
    text-shadow: none;
    padding-top: 0;
  }
  
  .about-hover {
    /* border-bottom: 1px solid gray; */
    padding-bottom: 0;    
    margin-top: 12px;   
  
  }
  
  .about-hover {
    display: none;
  }
  
  .about-hover a {
    line-height: 22px;
    font-size: 20px;
    display: block;
    padding-top: 3px;
    padding-bottom: 2px; 
  
  }
  
  .first a {
    margin-top: 10px;  
  }
  
  #about-normal:hover .about-hover {
    display: flex;
  }
  
  
  #about-normal:hover {
    display: flex;
  }
  
  .about-section {
    background-image: url("images/about-bg-pizza.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    height: 1000px;
  }

  .about-delivering{
    position: relative;
    bottom: -300px;
    left: 30%;
  }

  .about-delivering h3 {
    color:#ed7e2c;
    font-size: 32px;
    font-weight: 800;
  }
  .contact-section {
    /* background-image: url("images/about-bg-pizza.png"); */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    height: 1300px;
    /* margin-bottom: 200px; */
  }
  .about-dropdown {
    position: relative;

    background-image: url("images/about-dropdown-big.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 275px;
    height: 350px;
    position: absolute;
    top: 78vh;
    left: 100px;
    margin-bottom: 100px;
    /* z-index:   4; */
    padding-top: 20px;
  }

  .media-dropdown {
    position: relative;

    background-image: url("images/media-dropdown.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 275px;
    height: 350px;
    position: absolute;
    top: 63vh;
    left: 330px;
    margin-bottom: 100px;
    z-index:   0;
    padding-top: 20px;
  }

  .media-dropdown {
    color: white;
  }

  .contact-dropdown {
    position: relative;

    background-image: url("images/contact-dropdown.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 275px;
    height: 350px;
    position: absolute;
    top: 78vh;
    left: 100px;
    margin-bottom: 100px;
    /* z-index:   4; */
    padding-top: 20px;
  }

.pizza {
width: 100%;
position: relative;
bottom: 0;
}

.map {
width: 100%;
position: relative;
margin-top: 150px;
bottom: 100px;

}

.about-nav {
  margin-left: 390px;
  margin-top: 60px;
}

.about-nav img {
  transform: scale(0.7);
}

.contact-nav {
  margin-left: 480px;
  margin-top: 70px;
}

.contact-nav img {
  transform: scale(0.7);
}

.media-nav {
  margin-left: 310px;
  margin-top: 80px;
  z-index: 200;
}

.media-nav img {
  z-index: 300;
}

.media-nav img {
  transform: scale(0.7);
}

.private-nav {
  margin-left: 100px;
  margin-top: 20px;
}

.private-nav img {
  transform: scale(0.5);
}


.media-section{
}


.blog {
  margin: 100px 0%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 20px; */
}



.post {
  display: flex;
  flex-direction: column;
  z-index: 3;
  margin-left: 100px;
}

.post img {
  /* width: 10px; */
  width: 300px;
  height: auto;

}

.post h2{
  color: #ed7e2c;
  margin-top: 20px;
  font-size: 30px;
  line-height: 30px;
}

.post h4 {
  background-color: #ed7e2c;
  display: inline-block;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 18px;
}

.post h3{
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 25px;
}

.post3 h4 {
  width: 80%;
}

.post3 img{
  /* margin-bottom: 50px; */
}

.post2 h4 {
  width: 80%;
}


.middle-east {
  position: relative;
  /* left: -50px; */
  /* margin-top: -40px; */
  /* transform: scale(0.8); */
}

.about-dropdown ul {
  padding-top: 128px;
  width: 100%;

}
  
  .about-dropdown li {
    list-style: none;
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-left: 30px;
  
  }
  
  .about-dropdown a {
    font-size: 38px;
    font-weight: 700;
    position: relative;
    line-height: 42px;
  }

  .about-dropdown a:hover{
    color: #ed7e2c;
    cursor: pointer;
  }

.contact-dropdown ul {
  padding-top: 80px;
  width: 100%;
  line-height: 25px;

}
  
  .contact-dropdown li {
    list-style: none;
    padding-bottom: 30px;
    margin-left: 30px;
  
  }
  
  .contact-dropdown a {
    font-size: 28px;
    font-weight: 700;
    position: relative;
  }

  .contact-dropdown a:hover{
    color: #ed7e2c;
    cursor: pointer;
  }
  
  .about-description {
    margin-top: 20px;
    margin-left: 450px;
    margin-right: 100px;
    text-transform: uppercase;  
    font-size: 18px;
    font-weight: 500;
    max-width: 70%;
    color: #555;
  }
  
  .contact-description {
    margin-top: 20px;
    margin-left: 550px;
    margin-right: 100px;
    text-transform: uppercase;  
    font-size: 18px;
    max-width: 50%;
  }

  .orange {
    color: #ed7e2c;
    font-weight: bold;
  }
  
  
  
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .icon {
    background-color: #ed7e2c;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon .fb {
    width: 10px;
    height: auto;
  }
  
  .icon .ig {
    width: 15px;
    height: auto;
  }
  
  .icon+.icon {
    border-top: none;
  }
  
  .hero-text {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    /* padding-left: 80px; */
  }

  
  .hero-text h1 {
    line-height: 1;
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
  }
  
  .hero-text h2 {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
  }
  
  .hero-text h3 {
    line-height: 1;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .contact-hero-text{
    top: 60%;
    left: 40px;
  }


  .about-hero-text h2 {
    font-size: 70px;
  }

  .private-hero-text{
    top: 30%;
    left: 40px;
  }

  .media-hero-text{
    top: 60%;
    left: 110px;
  }

  .media-hero-text h1{
    font-size: 34px;
    font-weight: 800;
  }

  .media-hero-text h2{
    font-size: 70px;
    font-weight: 800;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ed7e2c;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .load-more {
    width: 200px;
  }
  
  /* Features Section */
  .features {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    background-color: #fff;
  }
  
  .feature img {
    width: 300px;
  }
  
  .iso img {
    width: 200px;
  }
  
  
  /* Products Section */
  .products {
    text-align: center;
    /* padding: 100px; */
    background-image: url("images/backg-products.png");
    background-size: contain;
    /* padding-bottom: 200px; */
    overflow:hidden;
    height: auto;
    /* height: auto; */
    padding-top: 100px;
  
  }
  
  .products h2 {
    font-size: 60px;
    margin-bottom: 0px;
    color: #ed7e2c;
  }
  
  .products p {
    margin-top: -10px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .product p {
    margin-bottom: 2px;
    transition:  0.3s ease, transform 0.3s ease;
  }
  
  .view-all {
    width: 170px;
    margin-bottom: 50px;
  }
  
  .product-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .product {
    text-align: center;
    background-image: url("images/ellipse-gray.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 360px;
    padding-bottom: 110px;
    transition:  0.3s ease, transform 0.3s ease;
  
  
  }
  
  .product img {
    width: 360px;
    position: relative;
    /* padding-right: 320px;  */
    left: -20px;
    z-index: 5;
    padding-bottom: 40px;
    transition:  0.6s ease, transform 0.3s ease;
  
  
  }
  
  .product:hover {
    background-image: url("images/ellipse-dark.png");
    z-index: 1;
    cursor: pointer;
    transition:  0.3s ease, transform 0.3s ease;
  
  }
  
  .product:hover img {
    width: 400px;
    /* transform: scale(1.1); */
    left: -50px;
    padding-bottom: 0;
    /* padding-right: 140px; */
    transition:  0.6s ease, transform 0.3s ease;
  }
  
  .product:hover p {
    font-weight: 800;
    transition:  1s ease, transform 0.3s ease;
  
  }
  
  .product h3 {
    visibility: hidden;
    color: #ed7e2c;
    /* position: absolute; */
  }
  
  .product:hover h3 {
    visibility: visible;
  }
  
  /* Instagram Section */
  .instagram {
    /* padding: 50px; */
    text-align: center;
  }
  
  .instagram h2 {
    text-align: center;
    font-size: 60px;
  
  }
  
  .instagram h3 {
    color: #ed7e2c;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 30px;
  }
  
  .view-ig {
    display:flex;
    margin-left: 300px;
  }
  
  .view-ig p {
    font-size: 24px;
    padding-top: 15px;
    font-weight: 600;
    padding-left: 20px;
  
  }
  
  .instagram a {
    margin: 50px 45vw;
  }
  
  .instagram-grid {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 295px;
  }
  
  
  .insta-item {
    width: 350px;
    height: 350px;
    background-color: #ccc;
    aspect-ratio: 1 / 1;
    width: auto;
    margin: 5px;
  }
  
  .insta-item img {
    width: 300px;
  }
  
  /* Footer */
  footer {
    color: #fff;
    padding: 50px;
    /* margin-top: 100px; */
    position: relative;
  }
  
  footer .logo {
    margin-right: 50%;
  }
  
  .footer-info {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #555;
  }
  
  .footer-links ul {
    list-style: none;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-contact p {
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  
  .boxes {
    position: absolute;
    right: 100px;
    top: 870px;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    gap: 30px;

  }
  
  .box {
    /* background-image: url("images/box-empty.png"); */
    width: 100%;
    height: 50px;
    z-index: 15;
  }
  
  
  
  .container-socials {
    position: fixed;
    right: 0px;
    top: 50%;
    display: flex;
    flex-direction: column;
    z-index: 20;
  }
  
  
  .button-stack {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }
  
  .f-button {
    width: fit-content;
    height: 50px;
    padding: 10px;
    margin-bottom: 4px;
    font-size: 16px;
  }
  
  .stacked-button:last-child {
    margin-bottom: 0;
  }
  
  .image-stack {
    display: flex;
    flex-direction: column;
  }
  
  .square-img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  .square-img:last-child {
    margin-bottom: 0;
  }
  
  .socials-background {
    background-color: #ed7e2c;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
  }
  
  .socials-background:hover+.stacked-button {
    display: block;
  }
  
  .stacked-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .main-container {
    display: flex;
    background-image: url("images/love-what-section.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 800px; */
    /* width: 100%; */
    /* height: auto */
  }
  
  
  .image-section {
    /* flex: 1; */
    /* background-image: url('images/samosa.png'); */
    background-size: cover;
    /* right: ; */
    background-repeat: no-repeat;
  }
  
  .image-section img {
  
  }
  
  
  .stacked-button {
    text-align: center;
    width: 210px;
    height: 50px;
    background-color: #00000080;
    
  }
  
  
  .socials-background:hover ~ .stacked-button {
    visibility: visible;
  }
  
  .about-first {
    text-align: left;
    align-content: start;
  }
  
  .about-first a {
    text-decoration: none;
  }
  
  
  footer {
    /* background-color: transparent; */
    background-image: url("images/footer-line.png");
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section p {
    margin: 0;
    font-size: 12px;
  }
  
  .footer-bottom {
    text-align: center;
    margin: auto;
    width: 30%;
  }
  
  .footer-bottom p {
    font-size: 14px;
    color: #777;
  }
  
  @media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  }
  
  footer{
    text-align: center;
  }
  
  .footer-logo{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .footer-content {
    background-image: url("images/nav-lines.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  
  .footer-menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .footer-menu a {
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
  }
  
  .footer-menu a:hover {
    color: #ed7e2c;
  }
  
  .footer-menu .regular{
    text-align: left;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
  }
  
  .footer-icons {
    margin-bottom: 30px;
  }
  
  
  .carousel {
    width: 100%;
    position: relative;
  }
  
  .slides {
    width: 100%;
    overflow: hidden;
    position: relative;
    /* background-image: url("images/love-orange-bg.png"); */
  }
  
  .slide {
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("images/love-packistani-food.png"); */
  }

  .slide img{
    /* position: absolute; */
    /* height: 100%; */
    /* aspect-ratio: 1 / 1; */
    width: 100%;
    position: relative;
  }
  
  .love {
    animation: slideIn 1s ease-in-out forwards;
  }

  .fade-in {
    opacity: 0; /* Initially hidden */
    animation: fadeIn 0.5s ease-in-out forwards; /* Fade-in animation */
    animation-delay: 1s; /* Optional: delay before the fade-in starts */
  }

  @keyframes fadeIn {
    to {
        opacity: 1; /* Fade in by setting opacity to 1 */
    }
  }

  @keyframes slideIn {
    from {
        transform: translateX(-100%); /* Image starts from off the screen (left) */
    }
    to {
        transform: translateX(0); /* Image ends at its original position */
    }
  } 

  .content {
    color: white;
    /* text-align: center; */
    width: 60%;
    height: 100%;
    /* position: absolute;
    left: 50px; */
  }
  
  .love-img {
    position: absolute;
  
  }
  
  .love-container {
    /* background-image: url("images/love-what-section.png");
    background-repeat: no-repeat;
    background-size: cover; */
    /* height: 800px; */
    /* height: auto; */
    position: relative;
    /* background-image: url("images/delicious-pakistani-food-with-sauce-high-angle-3.png"); */
    background-repeat: no-repeat;   
    background-size: cover;
    /* width: 100%; */
  }
  

  
  
  .love {
    width: 100%;
    position: relative;
  }
  
  .love-food {
    position: absolute;
  }
  
  .text-section {
    /* flex: 1; */
    /* padding-left: 180px; */
    /* padding-top: 800px; */
    /* width: 20%; */
    position: absolute;
    top: 29%;   
    left: 8%;  
    width: 46%;
    /* size: 1rem; */
    /* align-items: centers; */
    /* justify-content: center; */
    /* background-image: url("images/love-what-section.png"); */
  }
  
  .text-section h1 {
    /* font-size: 42px; */
    /* font-size: 2rem; */
  }
  
  .text-section h1 {

    color: white;
    /* font-size: 22px; */
    font-size: 60px;
    line-height: 70px;   ;
    padding-bottom: 10px;
  }
  
  .text-section p {
    /* font-size: 17px; */
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .footer-navigation {
    display: flex;
    justify-content: left;
    padding: 3rem 0;
  }

  .footer-navigation a:hover {
    cursor: pointer;
  }
  
  .footer-navigation .dot {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: white;
    margin: 0 13px;
  }
  
.dot .active {
    background-color: black;
  }
  
  .content img {
    /* max-width: 100%; */
    /* height: 100%; */
    position: absolute;
  }
  
  .carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #000;
  }
  
  .backtop {
    position: relative;
    right: -85%;
    bottom: 50px;
    cursor: pointer;
    z-index: 10;
  }

  .about-backtop {
    position: absolute;
    bottom: 600px;
    right: 200px;
  }
  
  .love-what-you {
    background-image: url("images/love-orange-bg.png");
    height: 800px;
  }
  
  .bring {
    position: relative;
    padding-top: 200px;
    padding-left: 160px;
  
  }
  
  .bring h1 {
    color: white;
    font-size: 42px;
    line-height: 50px;
  }
  
  .bring p {
    font-weight: 700;
    font-size: 25px;
  }
  
  .container-socials .stacked-button {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute; 
    top: 46%; 
    left: -210%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 10px;
  }
  
  .container-socials .button-image-stack {
    position: relative; 
    display: inline-block;
  }
  
  .container-socials .button-image-stack:hover .stacked-button {
    visibility: visible;
    opacity: 1;
  }
  
  
  
  
  @media only screen and (max-width: 1800px) {
  
    #nav-bar li {
        float: right;
        margin-top: -25px;
        margin-bottom: 14px;
        padding-top: 20px;
        /* padding-bottom: 20px; */
    }
  
    #nav-bar {
        gap: 0;
    }
  
    .about-hover a {
        font-size: 16px;
    }
  
    .subtitle {
        font-size: 12px;
    }
  
  
    nav {
        margin-left: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 40px;
        background-image: url("images/nav-lines.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
  
    nav ul li {
        bottom: 7px;
    }
  
    nav ul li a {
        font-size: 16px;
  
    }

    .text-section h1 {
      /* font-size: 39px; */
      font-size: 49px;
      line-height: 50px;   ;
      padding-bottom: 10px;
  }
  
  .text-section p {
      /* font-size: 17px; */
      font-size: 21px;
      line-height: 34px;
      font-weight: 700;
      text-transform: uppercase;
  }
  .footer-navigation .dot {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: white;
      margin: 0 10px;
  }
  .footer-navigation {
      display: flex;
      justify-content: left;
      padding: 40px 0;
  }
  
  }
  
  @media only screen and (max-width: 1400px) {
    #nav-bar {
        gap: 0;
    }
    .about-hover a{
        font-size: 14px;
    }
    .subtitle {
        font-size: 12px;
    }
    nav {
        margin-left: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 4px;
        background-image: url("images/nav-lines.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    nav ul li {
        /* padding-bottom: 56px; */
        bottom: 17px;
        /* margin-right: 20px; */
    }
    nav ul li a {
        font-size: 14px;
    }
    .about-first {
        margin-bottom: 200px;
    }

    .text-section h1 {
      /* font-size: 39px; */
      font-size: 39px;
      line-height: 40px;   ;
      padding-bottom: 10px;
  }
  
  .text-section p {
      /* font-size: 17px; */
      font-size: 20px;
      line-height: 29px;
      font-weight: 700;
      text-transform: uppercase;
  }
  .footer-navigation .dot {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: white;
      margin: 0 10px;
  }
  .footer-navigation {
      display: flex;
      justify-content: left;
      padding: 40px 0;
  }
    
  }

  .navigation {
    display: flex;
    justify-content: left;
    padding: 3rem 0;
  }

  .navigation span:hover {
    cursor: pointer;
  }
  
  .navigation .dot {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: white;
    margin: 0 13px;
  }
  
  .navigation .dot.active {
    background-color: black;
  }
  